table {
  margin: auto;
  margin-top: 50px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th:not(:first-child):hover,
.quantity:hover {
  cursor: pointer;
}

.quantity:hover:after {
  content: " Змінити";
  color: #1d6fb3;
}
